@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Pirata+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #191919; */
    background-image: url('https://s3-alpha-sig.figma.com/img/2e07/b8f8/00dfe4987f2374d27c8b69a6f0f4999b?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AsCH6rdiDb7RToIcx4pEXGbrpFEL-hvMtoaVwm6HAkopmD2QPS8l6r4EmeD0BYxTX4-sx4-osHlKnkLG4OSvb7rJA6tnny8zE7gUPKNpqhaRuMbnRGEiwmPhOpIidhSnNAFTlk4UNd8fnyOsn65l0ovMFuQptCEgvnfWT7BcYuvV-KEEZSSQSdkasOjF3dXBhTdk9qgW1Sssei2KQPamApH5GxjGfn2i~nVFTuHZA~NSf9nrn7OfqajQNwhiudwNj2DZl-ahgHgPf20IxiAc76TkgZ8R1flsD9ShTTXbbFtXxBOG2nkdnUhfMaX5M0UUfBndusSGdEjGlEbkVZ69yg__');
}
html{
    font-size: 16px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.padding__x{
    padding-inline: 10em;
}
.padding-y{
    padding-block: 4em;
}
.active{
    color: #fff  !important ;
    border-bottom: 2px solid #fff;
}
header{
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('https://s3-alpha-sig.figma.com/img/747b/a988/e9e46d6503b1af4251a66afb588478fb?Expires=1731888000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=au7WkudViQjcmYE34qoWmzSMFPgO6NkUWh5zKUIxXtLdI2bTAbuE4ub0cznYtBY-cEEkPk29JEvJkEKTHPu-yYECbHvz5R6aA-y19pcdC7aMS7Z1QBCTESBvwU9SEOseixo1QX-TLmdC6Pl96TkiPe7KRSAMYWxDN13K92I0YpVsbV1Yx89LG5I9Yivob4C02ZceXzSJg39ln~E5YvuZ0z3fs13rrLI6uj4KeUqi8W48NMzQK44Q0vXKUL-wl4cBSGYMnDb7qzKItLI9KuPFbgZE2x0urbJPAEx3AaWV1wA3rOOfvsgyxwWSl3qQ-sY3pUtnlEgBlYrtUtRQiP27OQ__');
    height: 70vh;
    background-size: cover; 
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
    align-items: center;
    height: 10vh;
}
nav .logo{
    width: 70px;
    height: 70px;
}
.nav .logo img{
    width: 100%;
}
nav .nav__links ul{
    display: flex;
    gap: 1.5em;
  
}
nav .nav__links ul li a{
    color: rgba(255, 255, 255, 0.5);
    font-family: Poppins;
    font-size:1.5em;
    font-weight: 500;
}
nav .nav__icons{
    color: rgba(255, 255, 255, 1);
}
nav .nav__icons i{
    font-size:1em ;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: .4em;
    position: relative;
    margin: 5px;
}
nav .nav__icons span{
    background: rgba(214, 40, 40, 1);
    position: absolute;
    font-family: Poppins;
    font-size: .8em;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    top: -10px;
    right: -10px;
    padding: .2em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    color: #FFF;
    height: 100%;
}
main h2{
    font-family: Poppins;
    font-size: 2em;
    font-weight: 700;
    line-height: 96.86px;
    text-align: center;
}
main h2 span{
    color:  #FFFFFF80;
}
.shop-empty{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4em ;
    padding-block: 10em;
}

  
  .shop-item .items {
    display: block; /* يظهر العناصر عند الحاجة */
  }
  
  .total {
    display: block; /* يظهر قسم الإجمالي عند الحاجة */
  }
.shop-empty h2{
    font-family: "Pirata One", system-ui;
    font-size: 4em;
    font-weight: 700;
    line-height: 64.58px;
    color: #FFF;
}
.shop-empty button{
    background: rgba(214, 40, 40, 1);
    border: 4px solid rgba(255, 255, 255, 0.4);
    font-family: Poppins;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 2em;
    text-align: center;
    border-radius: 26px;
    color: rgba(255, 255, 255, 1);
    padding: 16px 40px;
    margin-top: 2em;
    width: 100%;
}
/* footer */
footer{
    text-align: center;
    color:#fff ;
    font-family: Poppins;
    font-size: 1em;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}
